# Excluir tudo
*

#Exceto...
#Assets
!assets/
!assets/images/
!assets/images/*
!assets/icons/
!assets/icons/*
!assets/guardians
!assets/guardians/*
!assets/oppenheimer
!assets/oppenheimer/*
!assets/spiderverse
!assets/spiderverse/*
!assets/barbie
!assets/barbie/*
!assets/john_wick
!assets/john_wick/*
!assets/scream_vi
!assets/scream_vi/*

#Lib
!lib/
!lib/*/
!lib/data/dados.dart
!lib/components/*
!lib/models/*
!lib/screens/*
!lib/utils/rotas.dart

#Arquivos de configuração
!.gitignore
!pubspec.yaml

